{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Welcome to your Dashboard</h2>

{% if user.is_authenticated %}
    <div class="mb-3">
    <p>Hello, <strong>{{ user.username }}</strong>!</p>
    </div>
  <p class="lead">
    Here you can improve your schedule by tracking habits, planning your projects, and checking your calendar — all in one place.
  </p>
<br>


  <div class="d-flex gap-3 flex-wrap mb-4">
    <a href="{% url 'habit-list' %}" class="dashboard-btn">Habits</a>
    <a href="{% url 'project_list' %}" class="dashboard-btn">Projects</a>
    <a href="{% url 'calendar' %}" class="dashboard-btn">Calendar</a>
  </div>

{% else %}
  <div class="alert alert-info" role="alert">
    You are not logged in. Log in or register to start organizing your habits, projects, and calendar.
  </div>
  <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  <a href="{% url 'register' %}" class="btn btn-success">Register</a>
{% endif %}

{% endblock %}
