{% extends 'base.html' %}
{% block title %}My Projects{% endblock %}

{% block content %}
<h2>My Projects</h2>

<p class="text-muted">
  Keep all your ideas and plans in one place.
  Add your newest project concepts, break them down into tasks, and track your progress step by step.
</p>

{% if projects %}
    <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item">
                <a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a>
                <br>
                {{ project.description|default:"No description." }}
                <br>
                <small>Start: {{ project.created_at|date:"M. d, Y" }} | End: {{ project.due_date }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have any projects yet. Start by adding your first one!</p>
{% endif %}

<br>
<a class="btn btn-success" href="{% url 'create_project' %}">+ Create New Project</a>
{% endblock %}
